*.gpkg filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
Taichung_house_price_2026.gpkg filter=lfs diff=lfs merge=lfs -text
POIs/*.gpkg filter=lfs diff=lfs merge=lfs -text
taichung_housingCLEAR2.gpkg filter=lfs diff=lfs merge=lfs -text
Taichung_housing_FINAL.gpkg filter=lfs diff=lfs merge=lfs -text
